html, body {
    height: 100%;
    text-align: center;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: initial;
}

.navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
}

.aligtop {
    display: inline-block;
    vertical-align: top;
}

.normal-edit {
    padding-right: 5px;
    border-right: 1px solid #555;
}

.contest-edit {
    margin-left: 10px;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-image:url(/img/bt.png);
}