html, body {
    text-align: initial;
}

#logbox-cont {
    margin-left: 2%;
    margin-right: 2%;
    height: 40%;
    overflow: auto;
}

#entrybox {
    margin-left: 2%;
    max-width: 50%;
    display: inline-block;
}

#chatbox {
    vertical-align: top;
    margin-right: 2%;
    width: 45%;
    float: right;
    /* display: inline-block; */
}

#chatboxtext {
    width: 20vw;
    margin-right: 10px;
}

#chatbox-scroller {
    height: 30vh;
    overflow-y: scroll;
}

#selband {
    max-width: 50%;
}

#selmode {
    max-width: 50%;
}

#country {
    display: inline;
}

.qsoln {
    margin-bottom: 8px;
}